.scrollable-list-container {
  height: 90vh;
  width: 20vw;
  padding-top: 7vh;
  float:left;
}

.student-details-panel-container{
	float:right;
	padding-top: 7vh;
	padding-right: 1vw;
	width:79vw;
	height:93vh;
	overflow:auto;
	display:grid;
}

.student-profile-display {
	display:flex;
	flex-direction: column;
	align-items: center;
	padding-top:5vh;

}

.first-row-pane-container {
	border: 1px solid grey;
	height:235px;
}

.second-row-pane-container {
	border: 1px solid grey;
	height:350px;
}

.pane-title {
	height:30px;
	border: 1px solid grey;
	background:rgba(0, 0, 0, 0.7);
  	padding-left: 10px;
  	padding-top: 5px;
  	color: #FFFFFF;
}

.central-sub-pane{
	width:100%;
}

.left-sub-pane{
	float:left;
	width:75%;
}

.right-sub-pane{
	float:right;
	width:25%;
	height:100%;
	text-align: left;
	padding-top: 20%;
	font-size: 40px;
}

.right-sub-pane-second-row{
	float:right;
	width:25%;
	height:100%;
	text-align: center;
	padding-top: 15%;
	font-size: 40px;
}

.chart{
	font-size: 12px;
}

.empty {
	padding-top:45vh;
	text-align:center;
	font-size: 35px;
}

.test {
	background:red;
}

.third-row-pane-container {
	border: 1px solid grey;
	height:125px;
}

.third-row-left-sub-pane{
	float:left;
	width:49%;
  padding-top: 5px;
  padding-left: 25px;
}

.third-row-right-sub-pane{
  float:right;
	width:48%;
	text-align: left;
  padding-top: 5px;
  padding-left: 5px;
}

.fourth-row-pane-container {
	border: 1px solid grey;
	height:400px;
}
.third-row-upper-divider{
  width: 99%;
  height:60px;
  border-bottom: dotted black 2px;
}

.third-row-dual-charts {
	width: 100%;
	height:250px;
}

.third-row-last-stats{
  height:50px;
}

.third-row-chart-title{
  float: left;
  width:88%;
  padding-top: 5px;
  text-align: center;
}
