.scrollable-list-container {
  height: 90vh;
  width: 20vw;
  padding-top: 7vh;
  float:left;
}

.assignment-details-panel-container{
	float:right;
	padding-top: 7vh;
	padding-right: 1vw;
	width:79vw;
	height:93vh;
	overflow:auto;
	display:grid;
}

.basic-information {
	display:flex;
  	float:left;
	flex-direction: column;
	align-items: flex-start;
	padding-top:3vh;
  	padding-left:2vh;
  text-align: left;
}

.assign-first-row-pane-container {
	border: 1px solid grey;
	height:235px;
  width:60vw;
}

.assign-second-row-pane-container {
	height:260px;
  width:71vw;
}
.assign-second-row-pane-left {
	border: 1px solid grey;
	height:260px;
  width:35vw;
  float:left;
}
.assign-second-row-pane-right {
	border: 1px solid grey;
	height:260px;
  width:35vw;
  float:right;
}
.assign-third-row-pane-container {
	border: 1px solid grey;
	height:350px;
  width:50vw;
}
.pane-title-left {
	height:30px;
	background:rgba(0, 0, 0, 0.7);
  padding-left: 10px;
  padding-top: 5px;
  color: #FFFF;
}

.pane-title-left {
	height:30px;
	background:rgba(0, 0, 0, 0.7);
  padding-left: 10px;
  padding-top: 5px;
  color: #AED581;
  width:48.1%;
  float:left;
}
.pane-title-right {
	height:30px;
	background:rgba(0, 0, 0, 0.7);
  padding-left: 10px;
  padding-top: 5px;
  color: #F06292;
  width:48.1%;
  float:right;
}

.central-sub-pane{
	width:100%;
}

.left-sub-pane{
	float:left;
	width:75%;
}

.left-equal-sub-pane{
	float:left;
	width:50%;
	height:100%;
	text-align: left;
	font-size: 40px;
}
.right-equal-sub-pane{
	float:right;
	width:50%;
	height:100%;
	text-align: left;
	font-size: 40px;
}


.right-sub-pane-second-row{
	float:right;
	width:25%;
	height:100%;
	text-align: center;
	padding-top: 15%;
	font-size: 40px;
}

.chart{
	font-size: 12px;
}

.empty {
	padding-top:45vh;
	text-align:center;
	font-size: 35px;
}

.test {
	background:red;
}


.basic-information {
	display:flex;
	flex-direction: column;
	align-items: center;
	padding-top:2vh;
  padding-left: 10vh;
  padding-right:10vh;
}
.basic-information-top {
	display:flex;
	flex-direction: column;
	align-items: center;
	padding-top:2vh;
  padding-left: 10vh;
  padding-right:10vh;
  width:80%;
}
.basic-information-left {
	display:flex;
	flex-direction: column;
	align-items: center;
	padding-top:2vh;
  padding-left: 10vh;
  padding-right:2vh;
  width:300px;
  float: left;
}
.basic-information-right {
	display:flex;
	flex-direction: column;
	align-items: center;
	padding-top:2vh;
  padding-right:20vh;
  width:350px;
  float: right;
}
.completion-rate {
	display:flex;
	flex-direction: column;
	align-items: center;
	padding-top:5vh;
}
.students-completed {
  height: 215px;
  width: 17vw;
  padding-top: 1vh;
}
.list-item {
color: #F06292;
}
