* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 70px;
  color: white;
  font-weight: lighter;
}

h2 {
  font-size: 45px;
  color: #5b5b5b;
  font-weight: lighter;
}

h3 {
  font-size: 20px;
  padding-left: 10px;
  color: #999999;
}
h4 {
  font-size: 16px;
  padding-left: 10px;
  color: #999999;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.cover-page {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.85) ), url("https://cdn.discordapp.com/attachments/141691818440916992/311092056489459713/image.jpg");
}

.App {
  position:relative;
  overflow-x: hidden;
}

.cover-logo-container {
  height: 80vh;
}

.cover-logo {
  padding-top: 40vh;
  padding-left: 15%;
  animation-name: fade-in;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-timing-function: linear;
}

.frontPage-nav {
   padding-top: 2%;
   bottom:0;
   width:90%;
   height:10%;
   padding-bottom: 50px;
   margin-left: 5%;
   animation-name: fade-in;
   opacity: 0;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   animation-delay: 0.5s;
   animation-timing-function: linear;
}

.frontPage-ul {
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-evenly;
  width: 100%;
}

.frontPage-li {
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
  font-size: 20px;
  color: lightGrey;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 25px;
  text-align: center;
  transition-property: color, font-weight;
  transition-duration: 0.2s;
}

.frontPage-li:hover {
  font-weight: bold;
  color: #00ced1;
}

.frontPage-login {
  list-style-type: none;
  border-radius: 20px;
  border: 2px solid #00ced1;
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
  color: #00ced1;
  text-transform: uppercase;
  transition-property: color, font-weight, background-color;
  transition-duration: 0.2s;
}

.frontPage-login:hover {
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 0, 0.3);
}

.login-container {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 100px;
  background: linear-gradient( #5b5b5b,#2b2b2b);
}

.login-box {
  width: 500px;
  height: 500px;
  background: none;
  margin: auto;
  padding: auto;
  padding-top: 5%;
}

.login-input {
  width: 350px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1.5px solid #00ced1;
  text-align: center;
  color: Grey;
  margin-top: 20px;
  font-size: 1em;
}

.login-button {
  width: 350px;
  height: 50px;
  border-radius: 10px;
  background-color: #00ced1;
  border: none;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 20px;
  text-transform:uppercase;
  font-weight: bold;
  font-size: 1em;
}

.login-button:hover {
  color: white;
  background: rgba(0, 0, 0, 0.3);
  transition-property: color, background-color;
  transition-duration: 0.2s;
}

.main-container {
  width: 100%;
  height: 50vh;
  text-align: center;
  padding: auto;
}

.about-box {
  width: 70%;
  margin: auto;
  padding-top:5%;
  text-align: left;
  line-height: 1.8;
  font-size: 1.1em;
}

.dashboard {
  height:100vh;
  width:100%;
  position:relative;
}

/* Toolbar ============================*/

.toolbar-container {
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);;
  height: 3.4rem;
  animation-name: fade-in;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-timing-function: linear;
}

.toolbar-container .logo {
  width: 20%;
  float: left;
  height: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
  color: white;
  font-weight: lighter
}

.logo-subhead {
  font-size: 10px;
  color: #999999;
}

.toolbar-container .toolbar-nav-box {
  width: 80%;
  float: right;
  height: 100%;
}


.toolbar-nav-box ul {
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-evenly;
  width: 100%;
}

.toolbar-nav-box li {
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
  font-size: 20px;
  color: lightGrey;
  text-align: center;
  margin-top: 15px;
  text-transform: uppercase;
  transition-property: color, font-weight;
  transition-duration: 0.2s;
}

.toolbar-nav-box li.active {
  color: #00ced1;

}

.toolbar-nav-box li:hover {
  color: #00ced1;
}

.toolbar-nav-box li::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #00ced1;
  transition: width .3s;
}

.toolbar-nav-box li:hover::after {
  width: 100%;
  transition: width .3s;
}

.toolbar-nav-box .sub {
  color: gray;
}

.toolbar-nav-box .left-border{
  border-left: 1px solid gray;
  padding-left: 3rem;
}

.toolbar-nav-box .right-border{
  border-right: 1px solid gray;
  padding-right: 3rem;
}

/* Students ================================================*/

.students-chart-container {
  width: 95%;
  padding-top: 5%;
  height: auto;
  margin: auto;
  animation-name: fade-in;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-timing-function: linear;
}

.courseSelectionDialogShow{
  position:fixed;
  /*float:right;
  float:bottom;*/
  right:0;
  bottom:0;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade-out {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

/* Overview ================================================*/

.Overview-container {
  overflow-x: hidden;
}

.Overview-heading {
  margin-top: 4rem;
  margin-left: 5%;
}

.Overview-container h1 {
  color: #2b2b2b;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.Overview-container h2 {
  color: #2b2b2b;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.Overview-container h2 b {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.Overview-container h3{
  color: #999999;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.Overview-grid-container {
  display: grid;
  padding: 70px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  box-sizing: border-box;
  grid-gap: 1.3rem;
}

.Overview-grid-item {
  text-align: center;
  padding: 3rem;
  box-sizing: border-box;
  border: 1.5px solid #00ced1;
  border-radius: 20px;
}

.Overview-grid-item h1{
  color: #5b5b5b;
}


.Overview-grid-item1 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  border: 1.5px solid #00ced1;
  border-radius: 20px;
  box-sizing: border-box;
  text-align: center;
  height: 700px;
  padding: 2rem;
}

.Overview-grid-item2 {
  grid-column-start: 1;
  grid-column-end: 3;
  box-sizing: border-box;
  text-align: center;
  padding: 2rem;
  border: 1.5px solid #00ced1;
  border-radius: 20px;
}

.weakestStudentsList {
  list-style: none;
}

.weakestStudentsListItem {
  text-decoration: none;
  text-transform: uppercase;
  margin:2rem;
}

.weakestStudentsListItem p {
  font-size: 1.2rem;
  color: #8884d8;
}

.weakestStudentsListItem b {
  font-size: 1.4rem;
  color: #2b2b2b;
}


/* cc =====*/

.Overview-CC-grid-container {
  display: grid;
  padding: 70px;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  grid-gap: 1.3rem;
}

.Overview-CC-grid-container h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.Overview-CC-grid-container h1 {
  font-size: 3rem;
  font-weight: 100;
  margin-bottom: 10px;
}


.Overview-CC-grid-item {
  text-align: center;
  box-sizing: border-box;
  border: 1.5px solid #00ced1;
  border-radius: 20px;
  padding: 1rem;
}


.Overview-CC-grid-item1 {
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
  border: 1.5px solid #00ced1;
  border-radius: 20px;
  height: 800px;
}

.Overview-CC-grid-item p {
  font-size: 1.2rem;
  margin: 1rem;
  font-family: inherit;
}

/* Questions Container ====================================*/

.Questions-container {
  display: grid;
  padding: 70px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  box-sizing: border-box;
  grid-gap: 1.3rem;
}

.Questions-item {
  text-align: center;
  box-sizing: border-box;
  border: 1.5px solid #00ced1;
  border-radius: 20px;
  padding: 1rem;
  word-wrap:break-word;
  max-width: 400px;
}

.QuestionCard h1{
  font-size: 2rem;
}

/* Assignments ================================================*/


.assignmentDetailsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  grid-gap: 1.3rem;
  margin-top: 10px;
  margin-left: 3rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.assignmentBasicInfo, .assignmentRate {
  border: 1.5px solid #00ced1;
  grid-column-start: 1;
  grid-column-end: 4;
  border-radius: 20px;
  padding: 1rem;
}

.assignmentPie {
  border: 1.5px solid #00ced1;
  border-radius: 20px;
  padding: 1rem;
}

.assignmentList {
  border: 1.5px solid #00ced1;
  grid-column-start: 2;
  grid-column-end: 4;
  border-radius: 20px;
  padding: 1rem;
}

.assignmentListItem {
  margin-top: 1.5rem;
  text-align: center;
  border: 1px solid #00ced1;
  box-sizing: border-box;
  margin: 1rem;
  padding-top: 1rem;
}

.assignment-pane-title {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  font-size: 1.3rem;
}

.assignment-pane-title h1 {
  font-size: 3rem;
}

.assignment-pane-title h3 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}

.assignment-pane-title h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}

.assignment-information-top {
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 1rem;
}

.assignment-information {
  padding: 1rem;
  padding-top: 2rem;
}

.assignments-title {
  text-align: center;
  text-transform: uppercase;
}

.assignments-title h4{
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
/* Course ================================================*/

.courses-main-container {
  margin: 4rem 3rem;
}

.courses-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  grid-gap: 1.3rem;
  margin-top: 2rem;
}

.courses-grid-container p {
  font-size: 1.2rem;
  color: #8884d8;
}

.courses-grid-container b {
  font-size: 1.4rem;
  color: #2b2b2b;
}

.courses-grid-container h2 {
  color: #2b2b2b;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.course-grid-item {
  border: 1.5px solid #00ced1;
  border-radius: 20px;
  padding: 1rem;
  height: 40vh;
}

.course-grid-item-joint {
  border: 1.5px solid #00ced1;
  border-radius: 20px;
  padding: 1rem;
  height: 40vh;
  grid-column-start: 1;
  grid-column-end: 3;
}

.course-grid-item-vert {
  border: 1.5px solid #00ced1;
  border-radius: 20px;
  padding: 1rem;
  grid-row-start: 1;
  grid-row-end: 3;
}
.course-filler {
  height: 40%;
}


/* Misc ================================================*/
.csfixed {
  position: fixed;
}

.selectSomething {
  text-align: center;
  margin-top: 40vh;
}

/* Spinner ================================================*/
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
